<div class="jumbotron">
    <h1 class="display-4">Sistra S.A.S.</h1>
    <p class="lead">Líderes en la gestión de tráfico.</p>
    <hr class="my-4">
    <p>{{ capitalizar 'empresa del grupo Technoglass.'}}</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>